@model BooksGallery.Models.SignUp
@{
    ViewBag.Title = "forget";
}
<script src="~/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<h2>forget</h2>


@using (Html.BeginForm("showPass", "Home", FormMethod.Post, new { AUTOCOMPLETE = "off" }))
{
    <fieldset>
        <div id="detail">
            <ul>
                <div class="text-info">
                    @Html.Label("User Name :")
                </div>
                @Html.EditorFor(Model => Model.uname)

            </ul>
            <ul>
                <div class="text-info">
                    @Html.Label("Secret Question :", new { id = "secQL" })
                </div>
                @Html.EditorFor(Model => Model.secretQuiz)

            </ul>
            <ul>
                <div class="text-info">
                    @Html.Label("Secret Answer :", new { id = "secAL" })
                </div>
                @Html.PasswordFor(Model => Model.secretAns)

            </ul>
            <input type="submit" value="Reset" id="button">
        </div>


           
</fieldset>

<script>

    $(document).ready(function () {
       
        $("#secretQuiz").hide();
        $("#secretAns").hide();
        $("#secAL").hide();
        $("#secQL").hide();
        $("#button").hide();
       
        $("#uname").focusout(function () {
            

            var user = $("#uname").val();
            if (user != "") {
               
                $.getJSON("/Home/forgetpass?uname=" + user, function (data) {
                    if (data!="") {
                       
                        $("#secretQuiz").show();
                        $("#secretAns").show();
                        $("#secAL").show();
                        $("#secQL").show();
                        $("#button").show();
                        $("#secretQuiz").val(data.secretQuiz);

                    }
                    else {
                        alert("user does not exist");
                    }
                })
            }
        });
        });
</script>
}



