@model BooksGallery.Models.SignUp
    @{
        if (@ViewBag.Message != "")
        {
            <h1>@ViewBag.Message</h1>
        }
    }
    
 <!-- login-page -->
    <div class="login">
        <div class="container">
            <div class="login-grids">
                <div class="col-md-6 log">
                    <h3>Login</h3>
                    <div class="strip"></div>
                    <p>Welcome, please enter the following to continue.</p>
                    <p>If you have previously Login with us, @Html.ActionLink("Click here ", "index", "Home")</p> 
                   
                    @using (Html.BeginForm("checkLogin", "Home", FormMethod.Post, new
                    { AUTOCOMPLETE = "off" }))
                    {
                        <fieldset>
                            
                            <ul>
                                <div class="text-info">
                                    @Html.Label("User Name :")
                                </div>
                                @Html.EditorFor(Model => Model.uname)

                            </ul>
                            <ul>
                                <div class="text-info">
                                    @Html.Label("Password :")
                                </div>
                                @Html.PasswordFor(Model => Model.password)

                            </ul>
                                <input type="submit" value="Login">
                           
                            </fieldset>
                    }
                    @Html.ActionLink("Forget Password", "forget", "Home")
</div>
               
                <div class="col-md-6 login-right">
                    <h3>New Registration</h3>
                    <div class="strip"></div>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple Books in ur cart, view and track your orders in your account and more.</p>
                   @Html.ActionLink("Create Account", "register", "Home", new { @class = "button" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //login-page -->
   